.icon{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 15px auto;
}
.section111{
    background-color: #F2F4F5;
    padding: 0 120px !important;
}
.bwords{
    align-items: center;
}
.mainwords{
    font-size: 13px;
    color: black;
}
.maincard2{
    width: 100px;
    min-height: 150px;
   padding: 30px;
}

.bigcard{
    
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}


.tvch{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 15px;
}

.tugma2{
    border-radius: 1px solid black;
    padding: 7px;
    background-color: #F2F4F5;
    border-radius: 5px;
   
}
.tugma5{
     border-radius:none;
    padding: 7px;
    background-color: white;
    border-radius: 5px;

}
.tugma2:hover{
    border-radius: 3px solid black;

}
.kattamenu{
    width: 100%;
    background-color: #F2F4F5;
}
.formCard{
    padding: 10px;
}

.mainImg{
    width: 216px !important;
    height: 150px !important;
    object-fit: cover;
    display: block;
}
.yozuv{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}
.mainCard{
    display: flex;
    justify-content: center;
   

}
.ikkikatta{
    background-color: #F2F4F5;
}
.section6{
    background-color: #002f34;
    padding: 30px 0;
}
.rasmdiagramm{
    width: 130px;
    height: 130px;

}
.tugma9{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}
.img7{
    height: 56px;
    width: 80px;
   
    z-index: 5;
}
.section7{
    padding: 50px 0;
    background-color: #cbf7ee;
}
.jknjk{
    display: flex;
    justify-content: center;
    align-items: center;
}
.maincard3{
    display: block;  
}
.jknjk p{
    padding: 20px 0;
}
.labell{
margin-right: 15px;
}
@media screen and (max-width:820px) {
    .card2{
        display: block;
        padding-right: 20px;
    
    }
    .bigcard{
    
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .maincard3{
        display: flex;
        justify-content: center;
        
    }
    .section111{
        background-color: #F2F4F5;
        padding: 0 50px;
    }
    .narxik{
        display: block;
    }
    .ghjkl{
        display: block;
    }
    .section8{
        padding-left: 9px;
    }
    .formCard{
        display: block;
    }
    .selectkatta{
        display: block;
    }
    .ichidagi{
        display: block !important;
        width: 100%;
    }
    .ikkitaF{
        display: block;
        width: 100%;
    }
    .ghk{
        display: block;
        width: auto;
    }
    .exampleSelect{
        display: block;
    }
    
    
}
.umumiyradio{
    display: flex
}

@media screen and (max-width:600px) {
    .l2{
        display: block;

    }   
    
    .tt{
        width: 20px;
        height: 20px;
        margin: 0 5px 0 0;
    }
    .umumiyradio{
    display: block;
}
    .llk{
        margin: 10px;
        width: auto;
        display: block;
    }
    .igrh{
        display: block;
    }
    .t2{
        display: block;
       margin: 0;
     }
}
@media screen and (max-width:800px) {
    .tvch{
        display: block;
    }
  
    .tugma2{
        margin-top: 20px;
    }
}
.sozz{
    font-size: 14px !important;
}
.tt{
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
}