.Heeader{
   
    background-color: #002F34;
    color: white;
    padding: 0 95px !important;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerImg{
    width: 70px;
    height: 60px;
    object-fit: cover;
}


.btnsoz1{
    margin: 5px 20px;
    font-weight: 500;
    font-size: 16px;
    margin: auto 0;
    padding: 0 10px;

}
.btnsoz2{
    margin: 5px 20px;
    font-weight: 500;
    font-size: 13px;
    padding: 0 10px;
}
.btnsoz{
 margin: auto 0;
}
.ongmenu{
    display: flex;
    font-size: 16px;
    font-weight: 500;
}
@media screen and (max-width:700px) {
    .container{
        display: block;
    }
    .ongmenu{
        display: block !important;
    }
    .chaprasm{
        display: block !important;
        text-align: center;
        padding-left: 10px 0;
    }

    .Heeader{
  
        display: block;
    }
    .btnsoz1{
        text-align: center;
        padding: 10px 0;
        display: block;
    }
    .btnsoz2{
        text-align: center;
        padding: 10px 0;
        display: block;
    }
    .tugma12{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }
    
}